/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  padding: 20px;
  z-index: 9;
  width: 100%;
  top: 0;
}

.navbar .logo {
  max-width: 260px;
}

.navbar .logo img {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.nav-right {
  display: flex;
  align-items: center;
}

.lang-switcher img {
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.hero {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
}

/* Booking Reservation */
.booking {
  display: flex;
  padding: 80px 0 20px 0;
  justify-content: center;
  align-items: center;

  & .booking-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 10px;
  }
}

/* Packages */
.packages {
  padding: 20px 0 50px 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    color: #7a7a7a;
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .package-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    .package {
      position: relative;
      max-width: 480px;
      width: 100%;
      height: 420px;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        background: rgba(255, 255, 255, 0.5);
      }

      .content {
        position: relative;
        z-index: 2;

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .btn {
          display: inline-block;
          margin-top: 10px;
          padding: 10px 20px;
          background: black;
          color: white;
          text-decoration: none;
          font-size: 0.9rem;
          border-radius: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
