/* Start Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  padding: 20px;
  z-index: 9;
  width: 100%;
  top: 0;
}

.navbar .logo {
  max-width: 260px;
}

.navbar .logo img {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  font-family: "Montserrat", Sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
}

.nav-right {
  display: flex;
  align-items: center;
}

.lang-switcher img {
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}

.hero {
  position: relative;
  height: 85vh;
  background: url("assets/hero.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
}

/* Start Booking Reservation */
.booking {
  display: flex;
  padding: 80px 0 20px 0;
  justify-content: center;
  align-items: center;

  & .booking-btn {
    display: inline-block;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 10px;
  }
}
