/* General Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", Sans-serif;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute;
  padding: 20px;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar .logo {
  max-width: 200px;
}

.navbar .logo img {
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.nav-right {
  display: flex;
  align-items: center;
}

.lang-switcher img {
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 950px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    flex-direction: column;
    text-align: center;

    display: none;
  }
  .nav-right {
    display: none;
  }
}

/* Hero Section */
.hero {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: url("assets/hero.jpg") no-repeat center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  position: relative;
  font-size: 2.8rem;
  font-weight: 600;
}

@media (max-width: 950px) {
  .hero h1 {
    font-size: 2rem;
  }
}

/* Booking Section */
.booking {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.booking-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 10px;
  font-size: 1.6rem;
}

/* Packages Section */

.packages {
  padding: 20px 50px;
  text-align: center;

  h2 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    color: #7a7a7a;
    font-size: 1.6rem;
    margin-bottom: 25px;
  }

  .package-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    .package {
      position: relative;
      max-width: 480px;
      width: 100%;
      height: 420px;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 70%;
        background: rgba(255, 255, 255, 0.5);
      }

      .content {
        position: relative;
        z-index: 2;

        h3 {
          font-size: 1.2rem;
          font-weight: 600;
        }

        .btn {
          display: inline-block;
          margin-top: 10px;
          padding: 10px 20px;
          background: black;
          color: white;
          text-decoration: none;
          font-size: 0.9rem;
          border-radius: 5px;
          font-weight: 600;
        }
      }
    }
  }
}
